@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.full-width {
  width: 100%;
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.p-3 {
  padding: 30px !important;
}

.pt-3 {
  padding-top: 30px;
}

.mb-3 {
  margin-bottom: 30px;
}

.purple-btn {
  background: #A8227D;
  border-radius: 2px;
  color: white;
}
.purple-cls{
  color: #A8227D;
}
